.nav-left-sidebar .nav-item {
    margin-bottom: 5px;
}
.reserve-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #007bff; 
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.card {
    position: relative; 
}
.table-responsive {
    padding: 0; /* Remove padding from the table container */
}

.table {
    width: 100%; /* Make sure the table takes the full width of its container */
    table-layout: auto; /* Allow columns to adjust based on their content */
}

.table th, .table td {
    padding: 12px; /* Increase padding for better readability */
}

.card-body {
    padding: 1rem; /* Reduce the padding to fit more content in the card */
}
